@import url('//fonts.googleapis.com/css?family=Open+Sans');


body 
{ 
	margin: 0;
	line-height:  32px;
	font-family:  'Open Sans', sans-serif;
	color: #b8cbd9;
	background-color: #16181a;
}

body a
{
	text-decoration: none;
	color: #b8cbd9;
	font-size: 17px;
}

.sidebar
{
	float: left;
	width: 256px;
	min-height: 100vh;
	background-color: #2b3033;
}

.contentwrapper
{
	margin-left: -256px;
	float: right;
	width: 100%;
}

.content
{
	margin: 0 auto;
	padding-left: 256px;
	max-width: 768px;
}

.article
{
	background-color: #444;
}






