@import url('//fonts.googleapis.com/css?family=Open+Sans');

html
{
	width: 100%;
	height: 100%;
}

body 
{ 
	width: 100%;
	height: 100%;
	margin: 0 auto;
	line-height:  32px;
	font-family:  'Open Sans', sans-serif;
	color: #b8cbd9;
	background-color: #16181a;
}

body a
{
	text-decoration: none;
	color: #b8cbd9;
}

.sidebar
{
	float: left;
	width: 256px;
	height: 100vh;
	background-color: #2b3033;
}

.contentwrapper
{
	width: 100%;
	margin-left: -256px;
	float: left;
}

.content
{
	margin: 0 auto;
	max-width: 860px;
	background-color: #000;
}







