html {
	height: 100%;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #16181a;
	color: #77838c;
	font-family: 'Open Sans', sans-serif;
	display: table;
	line-height: 32px;
}

body a {
	transition: all 0.2s ease-out;
}

.menu {
	position: fixed;
	overflow-y: auto;
	left: 0;
	width: 256px;
	background-color: #2b3033;
	height: 100%;
	font-size: 16px;
	z-index: 5;
}

.toc {
	position: fixed;
	overflow-y: auto;
	right: 0;
	width: 248px;
	background-color: #2b3033;
	height: 100%;
	font-size: 16px;
	z-index: 4;
}

.toc a {
	margin: 0 32px;
	color: #98a7b3;
	display: block;
}

.toc a:hover {
	color: #45a3e6;
}
	

.page {
	width: 100%;
	outline: none;
	z-index: 3;
}

.content {
	max-width: 768px;
	margin: 0 auto;
	display: block;
	font-size: 18px;
	margin-bottom: 160px;
	padding: 0 280px 0 288px;
}




a {
    text-decoration: none;
	color: inherit;
}

/* Menu */

.menu-content {
	margin: 32px;
	color: #98a7b3;
}

.menu-category-title {
	margin-top: 32px;
	font-size: 14px;
	color: #77838c;
}

.menu-category li a:hover {
	color: #45a3e6;
}

/* Content */

h1, h2, h3, h4 {
	outline: none;
	clear: both;
}

h1 {
	font-weight: 400;
	margin: 32px 0;
	font-size: 28px;
}

h2 {
	font-weight: 400;
	font-size: 31px;
	margin-bottom: 32px;
	color: #98a7b3;
}

h3 {
	font-weight: 400;
	font-size: 23px;
	margin-bottom: 16px;
	margin-top: 80px;
	border-bottom: solid 1px #2b3033;
    color: #98a7b3;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	margin-top: 48px;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration: none!important;
}

strong {
	font-weight: 400;
	color: #98a7b3;
}

.content hr {
	display: block;
    height: 0;
    border: 0;
    border-top: 1px solid #4c5459;
	margin-top: 192px;
	margin-bottom: -40px;
}

.content hr:first-of-type {
    margin-top: 140px;
}

p {
	margin-top: 16px;
}

.content-info, .content-warning {
	clear: both;
	margin-top: 32px;
}

.content-info em, .content-warning em {
	display: block;
    margin-top: -32px;
    padding: 0 48px;
}

.key {
	background-color: #212426;
	padding: 0 6px;
	border-radius: 4px;
	border: solid 1px #2b3033;
}

.content-photo-box {
	width: 25%;
	float: right;
	margin-left: 24px;
	margin-bottom: 16px;
	clear: both;
}

.content-photo-box img {
	max-width: 100%;
	max-height: 192px;
	border: solid 1px black;
	outline: 1px solid #2b3033;
}

.content-photo-box p {
	font-size: 14px;
	margin: 2px!important;
	line-height: 24px;
}

.content-download {
	margin-top: 16px;
}

.content .content-download a {
	color: #98a7b3;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #212426;
    text-transform: uppercase;
    font-size: 15px;
}

.content-download a:hover {
	background-color: #2b3033;
}

.content ul, .content ol {
	padding-top: 16px;
	margin-bottom: 16px;
	display: table-cell;
}

.content li {
	margin-left: 16px;
	clear: both;
}

.content ul li::before {
	content: " · ";
}

.content li {
	margin-bottom: 16px;
}

.content li p:last-of-type {
    margin-bottom: 16px;
}

.content a {
	text-decoration: underline;
}

.content a:hover {
	color: #45a3e6;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:vertical 
    {
    background-color: #4c5459;
    }
 
::-webkit-scrollbar-thumb:horizontal 
    {
    background-color: #4c5459;
    }
 
::-webkit-scrollbar 
    {
    height: 8px;
    width: 8px;
    background-color: #2b3033;
    }


/*Home CSS*/

.contenthome {
	margin: 0 auto;
	display: block;
	margin-bottom: 160px;
	padding: 0 0 0 256px;
}

.contenthome table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.contenthome td {
	color: #cee3f2;
}

.homeimg {
	position: relative;
	height: 256px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.homegradient {
	height: 128px;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(22,24,26,0) 0%, rgba(22,24,26,0.9) 100%);
	background: -webkit-linear-gradient(top, rgba(22,24,26,0) 0%,rgba(22,24,26,0.9) 100%);
	background: linear-gradient(to bottom, rgba(22,24,26,0) 0%,rgba(22,24,26,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0016181a', endColorstr='#16181a',GradientType=0 );
	position: absolute;
    bottom: 0px;
    left: 0px;
}

.homeimgoverlay {
	position: absolute;
    bottom: 0px;
    left: 0px;
	background: #2b3033;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.2s ease-out;
}

.homeimgtext {
	position: absolute;
    bottom: 16px;
    left: 24px;
	margin-right: 24px;
}

.contenthome td:hover {
	cursor: pointer;
	color: #45a3e6;
}

.contenthome td:hover .homeimgoverlay {
	opacity: 0.5 !important;
}
