



/*
	UTIL & DESTYLERS
*/

html {
	height: 100%;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	font-weight: 400;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

::selection {
	color: #fff;
	background-color: #45a3e6;
}




/*
	GENERAL
*/

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #212326;
	font-family: 'Open Sans', sans-serif;
	display: table;
	line-height: 28px;
}

body a {
	transition: all 0.2s ease-out;
}




/*
	SCROLLBARS
*/

::-webkit-scrollbar-thumb:vertical {
	background-color: #282b2f;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: #34383d;
}

::-webkit-scrollbar {
	height: 7px;
	width: 7px;
	background-color: #282b2f;
}

.toc::-webkit-scrollbar {
	width: 14px;
}

.toc:hover::-webkit-scrollbar-thumb:vertical {
	border-left: 7px solid #34383d;
}

.menu:hover::-webkit-scrollbar-thumb:vertical {
	background-color: #34383d;
}

body::-webkit-scrollbar-thumb:vertical {
	background-color: #34383d;
}




/*
	MENU
*/

.menu {
	position: fixed;
	overflow-y: auto;
	left: 0;
	width: 252px;
	background-color: #282b2f;
	height: 100%;
	font-size: 16px;
	z-index: 4;
}

.menu-content {
	margin: 28px 0 28px 28px;
	color: #a8b6bf;
}

.menu-category-title {
	margin-top: 28px;
	font-size: 13px;
	color: #7c868f;
}

.menu-category li a:hover {
	color: #45a3e6;
}

.menu li {
	line-height: 20px;
	padding: 4px 0;
}




/*
	CONTENT
*/

.page {
	width: 100%;
	outline: none;
	z-index: 3;
}

.content {
	max-width: 840px;
	display: block;
	font-size: 18px;
	margin: -28px auto 168px auto;
	padding: 0 273px 0 280px;
}

h1, h2, h3, h4 {
	outline: none;
	clear: both;
}

h1 {
	font-size: 25px;
	color: #bfced6;
	margin: 28px 14px 18px 0;
}

h2 {
	padding: 14px 0;
	font-size: 36px;
	color: #bfced6;
	border-bottom: solid 1px #666f78;
}

h3 {
	padding: 7px 0;
	font-size: 25px;
	color: #bfced6;
	border-bottom: solid 1px #34383d;
	margin-top: 84px;
}

h4 {
	font-size: 18px;
	color: #bfced6;
	border-bottom: solid 1px #282b2f;
	margin-top: 56px;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration: none!important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	color: #45a3e6;
	cursor: pointer;
}

.content p a, .content li a, .content-info a, .content-warn a {
	color: #7aaacc;
	text-decoration: underline;
}

.content p a:hover, .content li a:hover, .content-info a:hover, .content-warn a:hover {
	color: #45a3e6;
	cursor: pointer;
}

.content hr {
	display: block;
	height: 112px;
	border: 0;
}

.content p, .content li {
	color: #909da7;
	padding-top: 14px;
}

.content ul, .content ol {
	display: table-cell;
}

.content ul li::before {
	content: "· ";
}

.content-info, .content-warning {
	clear: both;
	color: #909da7;
	margin-top: 28px;
}

.content-info em, .content-warning em {
	display: block;
	margin-top: -30px;
	padding: 0 42px;
}

.key {
	background-color: #282b2f;
	padding: 0 6px;
	border-radius: 4px;
	border: solid 1px #34383d;
	color: #8fa68d;
}

.path {
	background-color: #1f2022;
	padding: 0 4px;
	color: #b3937d;
}

.content-photo-box {
	width: 25%;
	float: right;
	margin: 14px 0 20px 20px;
	clear: both;
}

.content-photo-box img {
	max-width: 100%;
	max-height: 168px;
	border: solid 1px black;
	outline: 1px solid #282b2f;
}

.content-photo-box p {
	color: #7c868f;
	font-size: 14px;
	margin: 1px!important;
	line-height: 20px;
	padding-top: 0px;
}

.content-download {
	margin-top: 14px;
}

.content .content-download a {
	color: #7aaacc;
	text-decoration: none;
	padding: 6px 12px;
	border-radius: 4px;
	border: solid 1px #34383d;
	background-color: #282b2f;
	text-transform: uppercase;
	font-size: 15px;
}

.content-download a:hover {
	background-color: #2b3033;
}




/*
	TABLE OF CONTENTS
*/

.toc {
	position: fixed;
	overflow-y: auto;
	right: 0;
	width: 245px;
	background-color: #282b2f;
	height: 100%;
	font-size: 16px;
	z-index: 5;
}

.toc li {
	line-height: 20px;
	
}

.toc a {
	color: #a8b6bf;
	display: block;
	margin-left: 28px;
}

.toc a:hover {
	color: #45a3e6;
}

.toc2 a {
	display: inline-block;
	font-size: 16px;
	color: #7c868f;
	margin: 4px 35px;
}

.toc1 {
	display: block;
	font-size: 19px;
	margin: 4px 0;
	padding-top: 14px;
}

.toc .menu-category-title {
	margin-left: 28px!important;
}

.toc .menu-category li {
	line-height: 20px;
	margin: 14px 0 0 0;
}




/*
	HOME
*/

.contenthome {
	margin: 0 auto;
	display: block;
	padding: 0 0 0 252px;
}

.homegrid {
	text-align: center;
	margin: 56px 56px;
}

.homeitem {
	text-align: center;
	width: 252px;
	padding: 28px 0;
	margin: 28px 28px;
	display: inline-block;
	vertical-align: top;
	color: #a8b6bf;
}

.homeitem svg, .homeitem strong, .homeitem p {
	transition: all 0.2s ease-out;
}

.homeitem svg {
	clear: both;
	width: 128px!important;
	height: 128px!important;
	fill: #a8b6bf;
}


.homeitem:hover svg, .homeitem:hover strong, .homeitem:hover p {
	fill: #45a3e6;
	color: #45a3e6!important;
}


.homeitem p {
	line-height: 20px;
	color: #909da7;
}

.homeitem strong {
	font-size: 20px;
	display: block;
	margin: 28px 0 14px 0;
	line-height: 28px;
	font-weight: 400;
}




/*
	RANDOM TIP
*/

.randomtip {
	color: #bfced6;
	padding: 28px 56px;
	line-height: 28px;
	margin: 0 auto;
	height: auto;
	max-width: 840px;
	font-size: 18px;
}

.randomtip p {
	margin: 14px 0 0 0;
}

.randomtip a {
	color: #7aaacc;
	text-decoration: underline;
	white-space: nowrap;
}

.randomtip a:hover {
	color: #45a3e6;
}

.randomtipoverlay {
	width: 100%;
	background-color: rgba(31, 32, 34, 0.85);
}

.randomtipbg {
	background-repeat: no-repeat; 
	background-attachment: local; 
	background-position: center; 
	background-size: cover;
}




/*
	SEARCH
*/

.cse .gsc-control-cse, .gsc-control-cse {
	padding: 0!important;
	margin-top: -15px!important;
	border-color: #34383d!important;
	border-radius: 4px!important;
	color: #909da7!important;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
	color: #a8b6bf!important;
	line-height:42px!important;
	background-color: #282b2f!important;
	font-size: 18px!important;
}

.gsc-wrapper {
	position: relative!important;
	display: block!important;
	margin-top: 8px!important;
}

.cse input.gsc-input, input.gsc-input {
	padding-left: 8px!important;
	font-size: 18px!important;
}

.gsc-input-box {
	border: 0!important;
	background: none!important;
	border-color: #34383d!important;
	border-radius: 4px!important;
}
.gsc-control-cse {
	height: 42px!important;
	background: none!important;
}

table.gsc-search-box td.gsc-input {
	padding-right: 0!important;
}

.gsc-search-button {
	margin-left: 0!important;
}

.cse .gsc-search-button-v2, .gsc-search-button-v2 {
	padding: 0!important;
	border: 0!important;
	height: 42px!important;
	width: 42px!important;
	margin: 0!important;
	background-color: #282b2f!important;
}

.gsst_b {
	display:none!important;
}

.gsib_a {
	padding: 0!important;
}

.gsc-above-wrapper-area {
	display:none!important;
}

.gsc-webResult .gsc-result {
	background-color: #212326!important;
	border: 0!important;
	color: #909da7!important;
}

.cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
	border: 0!important;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top, gs-bidi-start-align gs-snippet {
	padding: 0!important;
	color: #909da7!important;
}

.gs-webResult .gs-snippet {
	color: #909da7!important;
}

.gs-webResult div.gs-visibleUrl-long {
	display: none!important;
}

.gsc-result .gs-title {
	line-height: 28px!important;
	overflow: visible!important;
	height: 36px!important;
	text-decoration: none!important;
	color: #bfced6!important;
	font-size: 18px!important;
}

.gsc-result .gs-title:hover {

	color:#45a3e6!important;
}

.gsc-control-cse, .gsc-control-cse .gsc-table-result {
	font-size: 18px!important;
}

.gsc-control-cse .gsc-table-result {
	font-family: 'Open Sans', sans-serif!important;
	line-height: 28px!important;
}

.gsc-webResult .gsc-result {
	margin-top: 21px!important;
}

.gs-spelling {
	color: #909da7!important;
	padding: 0!important;
}

.gs-spelling a {
	color: #45a3e6!important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	padding: 0!important;
	margin: 0!important;
	border: 0!important;
	background: none!important;
}

.cse .gsc-cursor-box, .gsc-cursor-box {
	border: 0!important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
	background-color: #212326!important;
}

.cse .gsc-cursor-box, .gsc-cursor-box {
	padding: 28px 0 0 0!important;
}

.gsc-results .gsc-cursor-box {
	margin: 0!important;
}




/*
	CODE / highlight.js / Visual Studio 2015 dark style by Nicolas LLOBERA nllobera@gmail.com
*/

pre {
	margin: 7px 0 0 0;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #1E1E1E;
	color: #DCDCDC;
}

.hljs-keyword, .hljs-literal, .hljs-symbol, .hljs-name {
	color: #569CD6;
}

.hljs-link {
	color: #569CD6;
	text-decoration: underline;
}

.hljs-built_in, .hljs-type {
	color: #4EC9B0;
}

.hljs-number, .hljs-class {
	color: #B8D7A3;
}

.hljs-string, .hljs-meta-string {
	color: #D69D85;
}

.hljs-regexp, .hljs-template-tag {
	color: #9A5334;
}

.hljs-subst, .hljs-function, .hljs-title, .hljs-params, .hljs-formula {
	color: #DCDCDC;
}

.hljs-comment, .hljs-quote {
	color: #57A64A;
	font-style: italic;
}

.hljs-doctag {
	color: #608B4E;
}

.hljs-meta, .hljs-meta-keyword, .hljs-tag {
	color: #9B9B9B;
}

.hljs-variable, .hljs-template-variable {
	color: #BD63C5;
}

.hljs-attr, .hljs-attribute, .hljs-builtin-name {
	color: #9CDCFE;
}

.hljs-section {
	color: gold;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-code {
	font-family:'Monospace';
}

.hljs-bullet, .hljs-selector-tag, .hljs-selector-id,
.hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo {
	color: #D7BA7D;
}

.hljs-addition {
	background-color: #144212;
	display: inline-block;
	width: 100%;
}

.hljs-deletion {
	background-color: #600;
	display: inline-block;
	width: 100%;
}

.csharp {
	line-height: 20px;
	font-size: 16px;
	margin: 0;
	padding: 7px 14px;
	background-color: #282b2f;
}



/*
	DECRUFT
*/

textarea {
	background-color: #282b2f;
	padding: 7px 14px;
	border: 0;
	resize: vertical;
	font-family: inherit;
	font-size: 16px;
	color: #909da7;
	outline: 0;
	margin-top: 28px;
}

button {
	margin-top: 28px;
	color: #909da7;
	text-decoration: none;
	padding: 6px 12px;
	border-radius: 4px;
	border: solid 1px #34383d;
	background-color: #282b2f;
	text-transform: uppercase;
	font-size: 15px;
}

button:hover {
	background-color: #2b3033;
}

::-webkit-resizer {
  background: #454b52;
}

textarea::-webkit-resizer {
  background: #454b52;
}

textarea::-webkit-scrollbar-thumb:vertical {
	background-color: #34383d;
}

