html {
	height: 100%;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #16181a;
	color: #77838c;
	font-family: 'Open Sans', sans-serif;
	display: table;
	line-height: 32px;
}

.menu {
	width: 256px;
	background-color: #2b3033;
	float: left;
    bottom: 0;
	height: 100%;
	font-size: 16px;
}

.page {
	width: calc(100% - 512px);
	float: left;
}

.content {
	max-width: 768px;
	margin: 0 auto;
	display: block;
	font-size: 18px;
	margin-bottom: 128px;
	padding: 0 32px;
}

.toc {
	position: fixed;
	right: 0;
	padding: 32px;
	background-color: #2b3033;
	height: 100%;
	width: 192px;
	font-size: 16px;
}

.toc a {
	color: #98a7b3
}

.toc a:hover {
	color: #45a3e6;
}
	

a {
    text-decoration: none;
	color: inherit;
}

/* Menu */

.menu-content {
	margin: 32px;
	color: #98a7b3;
}

.menu-category-title {
	margin-top: 32px;
	font-size: 15px;
	color: #77838c;
}

.menu-category li a:hover {
	color: #45a3e6;
}

/* Content */

h1 {
	font-weight: 400;
	margin-bottom: 32px;
	font-size: 28px;
}

h2 {
	font-weight: 400;
	font-size: 30px;
	color: #98a7b3;
}

h3 {
	font-weight: 400;
	font-size: 23px;
	margin-bottom: 16px;
	margin-top: 80px;
	border-bottom: solid 1px #2b3033;
    box-sizing: border-box;
    display: inline-block;
    color: #98a7b3;
}

h4 {
	font-weight: 700;
	font-size: 18px;
	margin-top: 48px;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration: none!important;
}

strong {
	font-weight: 400;
	color: #98a7b3;
}

.content hr {
	display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #4c5459;
	margin-top: 160px;
	margin-bottom: -40px;
}

.content hr:first-of-type {
    margin-top: 108px;
}

p {
	margin-top: 16px;
}

.content-warning-text {
	margin-top: -32px;
	margin-left: 48px;
	font-style: italic;
}

.icon1 {
	margin-top: 32px;
}

.content-photo-box {
	width: 25%;
	float: right;
	margin-left: 24px;
	margin-bottom: 16px;
}

.content-photo-box img {
	max-width: 100%;
	max-height: 192px;
	border: solid 1px black;
	outline: 1px solid #2b3033;
}

.content-photo-desc {
	font-size: 14px;
	margin: 2px;
	line-height: 24px;
}

.content ul {
	padding-top: 16px;
	margin-bottom: 16px;
	display: table-cell;
}

.content li {
	margin-left: 16px;
	clear: both;
}

.content ul li::before {
	content: " · ";
}

.content li p:last-of-type {
    margin-bottom: 32px;
}

.content a {
	text-decoration: underline;
}

.content a:hover {
	color: #45a3e6;
	cursor: pointer;
}