<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
  </head>

  <body>







    <div class="contentwrapper">

      <div class="content">

        <div class="article">

        {{ content }}

        </div>

      </div>


    </div>


    <div class="sidebar">

      <a href="{{site.baseurl}}/">Cities Skylines Modding Info</a>

      <nav>

        Asset Creation

        <ul>
        <li><a href="{{site.baseurl}}/asset/building">Building</a></li>
        <li><a href="{{site.baseurl}}/asset/prop">Prop</a></li>
        </ul>

      </nav>

    </div>




  





  </body>

</html>
